.img-fluid {
 height: 50px;
 width: 50px
}

.heroImage {
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer; /* Add finger cursor */
}

.nav-item a:hover {
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer; /* Add finger cursor */
}

.nav-item a:hover {
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}